<blockquote class="qoute"><p class="qoute__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est debitis eos repudiandae id ipsam recusandae nostrum vero laborum officiis consectetur!</p>
    <footer>
        <div class="media">
            <div class="media__image">
                    <svg class="icon icon--primary qoute--line">
                        <use xlink:href="images/sprite.svg#line"></use>
                    </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title qoute__author">John Smith</h3>
                <p class="qoute__organization">John Technology</p>
            </div>
        </div>
    </footer>
</blockquote>