<div class="card testimonial">
    <div class="grid grid--1x2"> 
        <div class="testimonial__image">
            <img class=""testimonial__image src="/images/testimonial.jpg" alt="A happy customer">
            <span class="icon-container icon-container--accent">
                <svg class="icon icon--white">
                    <use xlink:href="images/sprite.svg#quotes"></use>
                </svg>
            </span>
        </div>
        <blockquote class="qoute"><p class="qoute__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est debitis eos repudiandae id ipsam recusandae nostrum vero laborum officiis consectetur!</p>
            <footer>
                <div class="media">
                    <div class="media__image">
                            <svg class="icon icon--primary qoute--line">
                                <use xlink:href="images/sprite.svg#line"></use>
                            </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title qoute__author">John Smith</h3>
                        <p class="qoute__organization">John Technology</p>
                    </div>
                </div>
            </footer>
        </blockquote>
    </div>
</div>